*, *:before, *:after {
  box-sizing: border-box;
}

.clearfix:after {
  clear: both;
}

/*### Hero Block per page type ###*/

.hero {
  background-image: url("images/bg-lanscape-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 13% 28%;
}

@media screen and (max-width: 1680px) {
  .hero {
    background-image: url("images/bg-lanscape-02.jpg");
  }
}

@media screen and (max-width: 736px) {
  .hero {
    background-image: url("images/bg-lanscape-03.jpg");
  }
}

@media screen and (max-width: 360px) {
  .hero {
    background-image: url("images/bg-lanscape-04.jpg");
  }
}

.introduction {
  border: 1px solid white;
  padding: 40px 20px;
  background-color: rgb(72,72,72, 0.6);
}

.introduction * {
  color: #fff;
}

.introduction h2 {
  padding-bottom: 1rem;
  text-align: center;
}

@media (max-width: 600px){
  .hero {
    padding: 5%;
  }
}

/*## list Page ##*/

.gorilla-list {
  display: flex;
  flex-wrap: wrap;
	justify-content: space-evenly;
}

.goilla-list-item {
	flex-basis: 290px;
	flex-grow: 1;
	margin: 1vw;
  padding: 20px 10px;
}

.gorilla-list img {
  padding-top: 10px;
  width: 100%;
}

.gorilla-list p {
  padding-bottom: 20px;
}
